		<!-- about start -->
		<!-- ================== -->
		<section class="about container section-header">
			<header class="page__header">
				<!-- breadcrumbs -->
				<nav class="breadcrumbs-nav">
					<ul class="breadcrumbs">
						<li class="breadcrumbs__item"><a ui-sref="app" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><a ui-sref="app.blog" class="breadcrumbs__link">Информация</a></li>
						<li class="breadcrumbs__item breadcrumbs__item_current">О Блоге</li>
					</ul>
				</nav> 
			</header>
			<h1 class="about__header center">Получи вдохновение путешествовать</h1>
			<img src="./images/about.jpg" alt="Путешествие" class="about__img">
			<p class="about__text justify">У голландцев есть поговорка: «Тот, кто находится за своей дверью, имеет самую трудную часть своего путешествия за ней». Жизнь в дороге намного проще, чем вы думаете. Это решение сделать этот шаг из двери, которое является самой трудной частью, потому что оно требует множество изменений. Вы оставляете свою старую жизнь ради новой. Я знаю, что это такое - я был там много раз, но путешествие - очень полезный опыт, и вы не должны позволять страху удерживать вас.</p>
			<p class="about__text justify">Этот веб-сайт содержит некоторые веселые и вдохновляющие посты, чтобы помочь вам на вашем пути. Пожалуйста, наслаждайтесь и получайте удовольствие.</p>
		</section>
		<!-- about end -->
		<!-- ================== -->

		<!-- gallery start -->
		<!-- ================== -->
		<section class="gallery-section container">
			<h2 class="gallery__header center">Галерея вдохновляющих мест для путешествий</h2>
			<div class="gallery clearfix">
				<img src="images/img1.jpg" alt="Лондон" class="gallery__img">
				<img src="images/img2.jpg" alt="Барселона" class="gallery__img">
				<img src="images/img3.jpg" alt="Париж" class="gallery__img">
				<img src="images/img4.jpg" alt="Новая Зеландия" class="gallery__img">
				<img src="images/img5.jpg" alt="Дубаи" class="gallery__img">
				<img src="images/img6.jpg" alt="Калифорния" class="gallery__img">
				<img src="images/img7.jpg" alt="Рим" class="gallery__img">
				<img src="images/img8.jpg" alt="Будапешт" class="gallery__img">
				<img src="images/img9.jpg" alt="Греция" class="gallery__img">
				<img src="images/img10.jpg" alt="Прага" class="gallery__img">
				<img src="images/img11.jpg" alt="Нью Йорк" class="gallery__img">
				<img src="images/img12.jpg" alt="Венеция" class="gallery__img">
			<!-- <div class="clearfix"></div> -->
			</div>
		</section>
		<!-- gallery еnd -->
		<!-- ================== -->