		<!-- contacts start -->
		<!-- ================== -->
		<section class="about container section-header">
			<header class="page__header">
				<!-- breadcrumbs -->
				<nav class="breadcrumbs-nav">
					<ul class="breadcrumbs">
						<li class="breadcrumbs__item"><a ui-sref="app" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><a ui-sref="app.blog" class="breadcrumbs__link">Информация</a></li>
						<li class="breadcrumbs__item breadcrumbs__item_current">Контакты</li>
					</ul>
				</nav> 
			</header>
			<h1 class="contacts__header center">Контакты</h1>
			<div class="contacts-wrapper clearfix">
				<div class="email col">
					<h2 class="email__header">Отправьте мне Email</h2>
					<p class="email__text">Вы можете связаться со мной используя форму ниже.</p>
					<label class="email__label">Имя: <input type="text" placeholder="Введите имя..." class="email__input input"></label><br>
					<label class="email__label">Email: <input type="email" placeholder="Введите Email..." class="email__input input"></label><br>
					<label class="email__label">Сообщение: <textarea cols="30" rows="10" placeholder="Введите сообщение..." class="email__input input"></textarea></label><br>
					<input type="submit" value="Отправить" class="email__btn btn submit-btn">
				</div>
				<div class="google-map col">
					<div id="google-map__map"></div>
				</div>
			</div>
		</section>
		<!-- contacts end -->
		<!-- ================== -->