		<!-- current post start -->
		<!-- ================== -->
		<section class="current-post-section container">
			<header class="page__header">
				<!-- breadcrumbs -->
				<nav class="breadcrumbs-nav">
					<ul class="breadcrumbs">
						<li class="breadcrumbs__item"><a ui-sref="app" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><a ui-sref="app.blog" class="breadcrumbs__link">Блог</a></li>
						<li class="breadcrumbs__item breadcrumbs__item_current">Я люблю Амстердам</li>
					</ul>
				</nav>
			</header>
			<div class="current-post justify">
				<h1 class="current-post__header center">{{post.header}}</h1>
				<small class="current-post__date">{{post.date | date:'dd.MM.yyyy'}}</small>
				<img ng-src="{{post.image}}" alt="{{post.title}}" class="current-post__image">
				<p class="current-post__text" ng-bind-html="trust(post.description)"></p>
			</div>
			<ul class="sharing">
				<li class="sharing__item"><a href="#" title="Facebook" class="sharing__link"><i class="fa fa-facebook-official sharing__icon"></i></a></li>
				<li class="sharing__item"><a href="#" title="Pinterest" class="sharing__link pinterest"><i class="fa fa-pinterest sharing__icon"></i></a></li>
				<li class="sharing__item"><a href="#" title="Instagram" class="sharing__link instagram"><i class="fa fa-instagram sharing__icon"></i></a></li>
			</ul>
		</section>
		<!-- current post еnd -->
		<!-- ================== -->
		
		<!-- comments start -->
		<!-- ================== -->
		<section class="comments-section container section">
			<div class="comments">
				<h3 class="comments__header">Комментарии</h3>
				<label for="comment-sort"  class="comment-sort-label">Сортировать по</label>
				<select name="comments-sort" id="comment-sort" class="comments__sort" ng-model="sortedBy">
					<option class="comments__option" value="-date">Последним</option>
					<option class="comments__option" value="author">Автору</option>
					<option class="comments__option" value="date">Давним</option>
				</select>
				<blockquote class="comment" ng-repeat="comment in post.comments | orderBy:sortedBy">
					<p class="comment__text">{{comment.comment}}</p>
					<footer class="comment__info">
						{{comment.author}}, <small class="comment__date">{{comment.date | date:'dd.MM.yyyy'}}</small>
					</footer>
				</blockquote>
			</div>
			<div class="comments">
				<blockquote class="comment" ng-show="commentForm.$valid">
					<p class="comment__text">{{newcomment.comment}}</p>
					<footer class="comment__info">
						{{newcomment.author}}, <small class="comment__date">{{newcomment.date | date:'dd.MM.yyyy'}}</small>
					</footer>
				</blockquote>
			</div>
			<form class="new-comment" name="commentForm" ng-submit="submitComment()">
				<h4 class="new-comments__header">Написать комментарий</h4>
				<label class="new-comment__label">Имя
					<input type="text" name="author" placeholder="Введите имя..." class="new-comment__input input" ng-model="newcomment.author" required>
				</label><br>
				<label class="new-comment__label">Комментарий
					<textarea cols="30" rows="5" name="new-comment" placeholder="Введите комментарий..." class="new-comment__input input" ng-model="newcomment.comment" required></textarea>
				</label><br>
				<input type="submit" value="Отправить" class="new-comment__btn btn submit-btn">
			</form>
		</section>
		<!-- comments end -->
		<!-- ================== -->